"""flp
Title: {{ .title }}
Author: {{ or (index . "authors") "Unkown" }}
Category: {{ or (index . "category") "Unknown" }}
Version: {{ or (index . "version") "Unknown" }}
{{ if index . "license" -}}
License: {{ .license }}
{{ end }}{{ if index . "description" }}
Description: 
{{ .description }}
{{ end }}{{ if index . "changelog" }}
Changelog:
{{ .changelog }}
{{ end }}{{ if index . "thread_link" }}
Thread Link: {{ .thread_link }}
{{ end }}"""